body {
	box-sizing: border-box;
}

.wrapper {
	display: grid;
	grid-template-columns: min(200px) 4fr;
	grid-template-rows: max(140px) 5fr;
	height: 98vh;
}

/* ----- SIDEBAR ------ */

.sidebar {
	grid-row: 1 / 3;
	display: grid;
	grid-template-columns: 50px 2fr;
	grid-template-rows: 80px 35px 35px 35px 35px 35px 35px 40px 35px 35px 35px;
	background-color: rgb(69, 144,206);
	color: white;
}

.main {
	background-color: rgb(227, 232, 239)
}

.logo {
	font-size: 24px;
}
 
ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

li {
	font-size: 20px;
	list-style: none;
	display: flex;
	align-items: center;
}

.sidebar>i {
	justify-self: center;
	align-self: center;
}

/* ------ HEADER ------ */

.header {
	display: grid;
	grid-row: 1 / 2;
	grid-template: 1fr 1fr / 1fr 1fr;
	align-items: end;
	justify-items: end;
	box-shadow: 0px 4px 6px rgb(178, 178, 178);
	position: relative;
}

.search {
	display: flex;
	margin-left: 20px;
	margin-top: 20px;
	width: clamp(250px, 100%, 550px);
}

.search>i {
	margin-right: 8px;
	position: relative;
	top: 3px;
}

input {
	width: clamp(250px, 100%, 550px);
	border-radius: 16px;
	background-color:rgb(226, 226, 226);
	border: 2px solid rgb(226, 226, 226);
}
.account {
	display: flex;
	align-items: center;
	gap: 30px;
	font-weight: 900;
	margin-right: 40px;
	margin-top: 20px;
}

.account>img {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: 1px solid rgb(88, 142, 201);
}

.handle {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
	font-weight: 900;
}

.handle>img {
	height: 60px;
	width: 60px; 
	border-radius: 50%;
	border: 2px solid rgb(88, 142, 201);
}

.buttons {
	display: flex;
}

.search, .account {
	align-self: start;
}

.search, .handle {
	justify-self: start;
}

.buttons {
	display: flex;
	margin-right: 40px;
	margin-bottom: 20px;
	gap: 30px; 
}

.buttons>button {
	background-color: rgb(88, 142, 201);
	height: 35px;
	width: 80px;
	border-radius: 40px;
	border-style: none;
	color: white;
	font
}

/* ----- MAIN BODY ----- */

.main {
	display: grid;
	grid-template: 50px 35vh 35vh / 2fr 1fr;
}

.your-projects {
	margin-top: 20px;
	margin-bottom: 8px;
	margin-left: 14px;
}

.announce-header {
	grid-area: 1 / 2 / 2 / 3;
	margin-top: 20px;
	margin-bottom: 8px;
}

.announcements-container {
	grid-area: 2 / 2 / 3 / 3;
	width: max(290px, 95%);
	background-color: white;
	padding: 0px;
	margin-right: 16px;
	border-radius: 6px;
	box-shadow: 2px 4px 6px rgb(178, 178, 178);
}

.cards {
	grid-area: 2 / 1 / 4 / 2;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-left: 14px;
	padding-bottom: 0;
	align-items: center;
	row-gap: 20px;
	column-gap: -20px;
}

.card {
	display: grid;
	text-align: start;
	background-color: white;
	height: 170px; 
	width: clamp(150px, 93%, 450px);
	box-shadow: 2px 4px 6px rgb(178, 178, 178);
	border-radius: 6px;
}

.project-icons {
	justify-self: end;
}

.trending-container {
	grid-column: 2 / 3;
}

.card>p {
	margin: 0;
	margin-left: 8px;
	padding: 0px;
}

.card>:nth-child(1) {
	align-self: center;
}

.card>:nth-child(2) {
	font-size: small;
}

.title {
	font-weight: 900;
}

.project-icons {
	display: flex;
	gap: 16px; 
	margin-right: 16px;
}

.announcements>div {
	margin-left: 16px;
	border-bottom: 1px solid rgb(178, 178, 178);
	margin-right: 16px;
}

.announcements>div>p {
	margin: 0;
}

.announcements>div>:nth-child(1) {
	align-self: center;
	margin-top: 12px;
	margin-bottom: 4px;
	font-weight: 700;
	font-size: small;
}

.announcements>div>:nth-child(2) {
	font-size: 12px;
	margin-bottom: 12px;
}

#last-announce {
	border-bottom: none;
}

.trending-handles>div {
	display: flex;
	align-items: center;
}

.trending-handles>div>img {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: 1px solid rgb(88, 142, 201);
}

.trending-header {
	margin-top: 24px;
}

.trending-handles {
	margin-top: 12px;
	margin-right: 16px;
	background-color: white;
	border-radius: 6px;
	box-shadow: 2px 4px 6px rgb(178, 178, 178);
	padding: 12px;
}

.trending-handles>div>p {
	margin-left: 12px;
	font-weight: 400;
}